<!-- services.ejs
    Jeffrey Li
    https://comp308-assignment2-jeffreyli.herokuapp.com/
    Technical Skills that I provide -->
<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR SERVICES -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
    <h1 style="text-align: center"><%= title %></h1>
    <p>Services I provide are C#, Java, Unity, Blender, NodeJS and HTML/CSS</p>
    </div>
    </div>
    </div>

   <% include ../partials/footer.ejs %>